




{% extends 'base.html' %}
{% block title %}Dnam | Edit {{client.client_name}}{% endblock title %}
{% block employee-active %}
<span
  class="absolute inset-y-0 left-0 w-1 bg-[#f8373f] rounded-tr-lg rounded-br-lg"
  aria-hidden="true"></span>
{% endblock employee-active %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
<main class="h-full overflow-y-auto">
    <div class=" mx-auto max-w-6xl py-20 px-12 lg:px-24  mb-24">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
          <div class="px-6 my-6 flex justify-center">
                <button type="submit"
                  class="flex items-center justify-center md:w-1/2  px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                >
                Update
                </button>
              </div>
        </form>
    </div>
      </div>
</main>
{% endblock content %}
