
{% extends 'base.html' %}
{% block title %}Dnam | Add New Site{% endblock title %}
{% block clients-active %}
<span
                class="absolute inset-y-0 left-0 w-1 bg-[#f8373f] rounded-tr-lg rounded-br-lg"
                aria-hidden="true"></span>
{% endblock clients-active %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}

<main class="h-full overflow-y-auto">
    <div class=" mx-auto max-w-6xl py-20 px-12 lg:px-24  mb-24">
        <form method="POST">
            {% csrf_token %}
           <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
           <div class="-mx-3 md:flex mb-6">
              <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                 Site
                </label>
                <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="company" type="text" name="site_name" value="{{site.site_name}}" required> 
              </div>
              <div class="md:w-1/2 px-3">
                <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="title">
                  Site Title
                </label>
                <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="title" type="text" name="site_title" value="{{site.site_title}}" >
              </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                      Address
                    </label>
                    <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3 outline-none" id="company" type="text" value="{{site.address}}" name="address"> 
                  </div>
                  <div class="md:w-1/2 px-3">
                    <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="title">
                     Suburb
                    </label>
                    <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="title" type="text" name="suburb" value="{{site.suburb}}">
                  </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="uppercase tracking-wide text-gray-600 text-xs font-bold mb-2" for="company">
                      Postcode
                    </label>
                    <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="company" type="text" value="{{site.postcode}}" name="postcode"> 
                  </div>
                  <div class="md:w-1/2 px-3">
                    <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="title">
                      Site Contact
                    </label>
                    <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="title" type="text" name="site_contact" value="{{site.site_contact}}">
                  </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                  <div class="md:w-1/2 px-3">
                    <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="title">
                      Site Attributes
                    </label>
                    <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="title" type="text"  name="site_attribute" value="{{site.site_attribute}}">
                  </div>
                  <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                     Service
                    </label>
                    <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="company" type="text" name="service" value="{{site.service}}"> 
                  </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                  <div class="md:w-1/2 px-3">
                    <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="title">
                      Clean Schedule
                    </label>
                    <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="title" type="text" name="clean_schedule" value="{{site.clean_schedule}}">
                  </div>
                  <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                     Clean Area
                    </label>
                    <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="company" type="text" name="clean_area" value="{{site.clean_area}}"> 
                  </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-1/2 px-3">
                  {{form.clean_task_enable|as_crispy_field}}
                  
                </div>
                <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                  <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                    Cleaner
                   </label>
                   {{form.cleaner}}
                   
                  
                </div>
          </div>
          <div class="-mx-3 md:flex mb-6">
            <div class="md:w-1/2 px-3">
              <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="title">
                Start Date
              </label>
              <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="title" type="Date" name="startdate" value="{{site.startdate}}">
            </div>
            <div class="md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
              Extra Detail
              </label>
              <input class="w-full  text-gray-600 bg-gray-100 shadow-md border border-gray-50 rounded py-3 px-4 mb-3" id="company" type="text" name="extra_detail" value="{{site.extra_detail}}"> 
            </div>
            </div>
            <div class="-mx-3 md:flex mb-6">
                <div class="md:w-1/2 px-3">
                  <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="title">
                    Save
                  </label>
                  {{form.enter}}
                </div>
            </div>
            <div class="flex justify-center">
              <input type="submit"            
              class="flex items-center justify-center md:w-1/2  px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
              value="Add">
            </div>
          </div>
        </form>
      </div>
</main>

{% endblock content %}
