{% extends 'base.html' %}
{% block title %}Dnam | Add Employee{% endblock title %}
{% block clients-active %}
<span class="absolute inset-y-0 left-0 w-1 bg-[#f8373f] rounded-tr-lg rounded-br-lg" aria-hidden="true"></span>
{% endblock clients-active %}

{% block search-content %}
<div class="flex justify-start flex-1 lg:mr-32">
  <div class="relative w-full  max-w-xl mr-6 focus-within:text-purple-500">
    <div class="absolute inset-y-0 flex items-center pl-2">
      <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <form class="flex flex-row" action="{% url 'search_client' %}" method="GET">
      <input
        class="w-full pl-8 p-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md   focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
        type="text" name="keyword" placeholder="Enter client name" aria-label="Search" />
      <button class="btn btn-danger my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</div>

{% endblock search-content %}
{% block content %}

<main class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">

    <!-- Cards -->

    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4 mt-6">
      <a href="{% url 'addclients' %}">
        <div class="flex items-center p-4 bg-gray-50 rounded-lg shadow-lg  cursor-pointer hover:shadow-md">
          <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full ">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
              </path>
            </svg>
          </div>
          <div>
            <p class="mb-2 text-sm font-medium text-gray-600 ">
              Add Client
            </p>

          </div>
        </div>
      </a>
      <!-- Card -->
      {% for client in client %}
      {% if client.delete == False %}
      <a href="{% url 'clientsites' client.id %}">
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs  cursor-pointer hover:shadow-md">
          <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full ">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
              </path>
            </svg>
          </div>
          <div>
            <p class="mb-2 text-sm font-medium text-gray-600 ">
              {{client.client_name}}
            </p>

          </div>
          <button
            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg  focus:outline-none focus:shadow-outline-gray"
            aria-label="Edit">
            <a href="{% url 'editclients' client.id %}">
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                viewBox="0 0 20 20">
              <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
              </path>
              </svg>
            </a>
          </button>
          <button
            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-[#f8373f] rounded-lg  focus:outline-none focus:shadow-outline-gray"
            aria-label="Edit">
            <a href="{% url 'deleteclient' client.id %}">
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M284.2 0C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2zM31.1 128H416L394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128zM207 199L127 279C117.7 288.4 117.7 303.6 127 312.1C136.4 322.3 151.6 322.3 160.1 312.1L199.1 273.9V408C199.1 421.3 210.7 432 223.1 432C237.3 432 248 421.3 248 408V273.9L287 312.1C296.4 322.3 311.6 322.3 320.1 312.1C330.3 303.6 330.3 288.4 320.1 279L240.1 199C236.5 194.5 230.4 191.1 223.1 191.1C217.6 191.1 211.5 194.5 207 199V199z"/></svg>
            </a>
          </button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock content %}