

{% extends 'homebase.html' %}

{% block body-content %}


<div class="bg-gradient-to-b from-pink-100 to-purple-200" id="about">
    <div class="container m-auto px-6 py-20 md:px-12 lg:px-20">
        <div class="py-6 m-auto text-center lg:w-8/12 xl:w-7/12">
            <h2 class="text-4xl text-gray-600 font-bold md:text-4xl "> <span class="border-b-4 border-[#f8373f]">About Us</span> </h2>
        </div>
        <div data-aos="fade-right" class="mt-12 m-auto -space-y-4 items-center justify-center md:flex md:space-y-0 md:-space-x-4 xl:w-10/12">
            <div class="relative z-10 -mx-4 group md:w-6/12 md:mx-0 lg:w-5/12">
                <div aria-hidden="true" class="absolute top-0 w-full h-full rounded-2xl bg-white shadow-xl transition duration-500 group-hover:scale-105 lg:group-hover:scale-110"></div>
                <div class="relative p-6 space-y-6 lg:p-8">
                  {% for about in aboutus %}
                    <img src={{about.image.url}} alt="">
                    {% endfor %}
                </div>
            </div>
  
            <div class="relative group md:w-6/12 lg:w-7/12" data-aos="fade-left">
                <div aria-hidden="true" class="absolute top-0 w-full h-full rounded-2xl bg-white shadow-lg transition duration-500 group-hover:scale-105"></div>
                <div class="relative p-6 pt-16 md:p-8 md:pl-12 md:rounded-r-2xl lg:pl-20 lg:p-16">
                    <ul role="list" class="space-y-4 py-6 text-gray-600">
                        <li class="space-x-2">
                            <span class="text-purple-500 font-semibold">&check;</span>
                            <span>{% for about in aboutus %}{{about.detail}}{% endfor %}</span>
                        </li>
                        
                    </ul>
                    <p class="text-gray-700">We are best at our works.</p>
                  
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-6">
        <h1 class="sm:text-3xl text-4xl font-medium title-font mb-4 text-gray-600"><span class="border-b-4 border-[#f8373f]">Our Team</span></h1>
      </div>
      <div class="flex flex-wrap ">
        {% for team in ourteam %}
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src={{team.image.url}}>
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">{{team.name}}</h2>
              <p class="text-gray-500">{{team.role}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endblock body-content %}