{% extends 'homebase.html' %} {% block body-content %}
{% load static %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="z-1 flex justify-center text-gray-600 font-Roboto font-bold text-2xl mt-16 mb-12 md:text-4xl" data-aos="zoom in" data-aos-anchor-placement="center-bottom">
        <span class="border-b-4 border-[#f8373f]"> Hear something from our Awesome Customer</span>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
          <div class="grid gap-8 md:grid-rows-2 lg:grid-cols-2">
        {% for career in career %}
        
                  <div class="p-6 border border-gray-100 rounded-xl bg-gray-50 sm:flex sm:space-x-8 sm:p-8">
                    <img class="w-20 h-20 mx-auto rounded-full" src="https://tailus.io/sources/blocks/grid-cards/preview/images/avatars/third_user.webp" alt="user avatar" height="220" width="220" loading="lazy">
                    <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">
                      <p class="text-gray-600"> <span class="font-serif">"</span>{{career.detail}}<span class="font-serif">"</span></p>
                      <div>
                          <h6 class="text-lg font-semibold leading-none">{{career.name}}</h6>
                          <span class="text-xs text-gray-500">{{career.role}}</span>
                      </div>
                    </div>
                  </div>
                  
        {% endfor %}
                </div>
              </div>
      </div>
    </div>
  </section>
<style>
    section#carousel>figure>div {
        display: none;
    }

    section#carousel>figure.visible>div {
        display: block;
        position: relative;
        overflow: hidden;
    }
</style>

<script src="{% static 'js/scripts.js' %}"></script>

{% endblock body-content %}