




{% extends 'dashboard/base.html' %}
{% block title %}Dnam | All tasks{% endblock title %} 
{% block alltask-active %}
<span
class="absolute inset-y-0 left-0 w-1 bg-[#f8373f] rounded-tr-lg rounded-br-lg"
                aria-hidden="true"></span>
{% endblock alltask-active %}
{% block content %}
<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto ">
        <div class="flex justify-center task mt-6">
            <div class="itemed">
                <h4 data-id="workorder"
                    class="mb-4 text-lg font-semibold text-gray-50 border-[#f8373f] border-2 bg-[#f8373f] p-2 rounded cursor-pointer hover:bg-gray-50 hover:text-[#f8373f] hover:border-[#f8373f] mr-4">
                    Work Order
                </h4>
            </div>

            <div class="itemed">
                <h4 data-id="complaints"
                    class="mb-4 text-lg font-semibold text-gray-50 border-[#f8373f] border-2 bg-[#f8373f] p-2 rounded cursor-pointer hover:bg-gray-50 hover:text-[#f8373f] hover:border-[#f8373f] mr-4">
                    Complaints
                </h4>
            </div>
        </div>
        <div id="workorder" class="content actives w-full mb-8 overflow-hidden rounded-lg shadow-xs ">
            <div class="flex justify-between">
                <h4 class="mb-4 text-lg font-semibold text-gray-600 ">
                    Work Order
                </h4>
                <a href="{% url 'add_work_order' %}">
                    <h4
                        class="mb-4 text-lg font-semibold text-gray-50 border-[#f8373f] border-2 bg-[#f8373f] p-2 rounded cursor-pointer hover:bg-gray-50 hover:text-[#f8373f] hover:border-[#f8373f] mr-4">
                        Add Task
                    </h4>
                </a>
            </div>
            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                        <thead>
                            <tr
                                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b  bg-gray-50 ">
                                <th class="px-4 py-3">Client</th>
                                <th class="px-4 py-3">Sites</th>
                                <th class="px-4 py-3">Work Order</th>
                                <th class="px-4 py-3">Work Order title</th>
                                <th class="px-4 py-3">Pricing</th>
                                <th class="px-4 py-3">Address</th>
                                <th class="px-4 py-3">Suburb</th>
                                <th class="px-4 py-3">Comments</th>
                                <th class="px-4 py-3">Site Contact</th>
                                <th class="px-4 py-3">Assigned To</th>
                                <th class="px-4 py-3">Completed By</th>
                                <th class="px-4 py-3">Complition Date</th>
                                <th class="px-4 py-3">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y">
                            {% for task in results %}
            
                            <tr class="text-gray-700 ">
                                <td class="px-4 py-3">
                                    <div class="flex items-center text-sm">
                                        <div>
                                            <p class="font-semibold">
                                               {{task.site.client.client_name}}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.site}}
                                </td>
                                <td class="px-4 py-3 text-xs">
                                    {{task.workorder}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.workorder_title}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.pricing}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.site.address}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.site.suburb}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.comments}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.site.site_contact}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {% for employee in task.assigned_to.all %}<ul><li class="list-none">{{employee.employee_name}}</li></ul{% endfor %}
                                    
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.completed_by}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.completion_date}}
                                </td>
                                <td class="px-4 py-3">
                                    <div class="flex items-center space-x-4 text-sm">
                                        <button
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-[#f8373f] rounded-lg  focus:outline-none focus:shadow-outline-gray"
                                            aria-label="Edit">
                                            <a href="{% url 'workorderupdate' task.id %}">
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                                </path>
                                            </svg>
                                        </a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="complaints" class="content w-full mb-8 overflow-hidden rounded-lg shadow-xs">
            <div class="flex justify-between">
                <h4 class="mb-4 text-lg font-semibold text-gray-600 p-2">
                    Complaints
                </h4>
                <a href="{% url 'add_complaints' %}">
                    <h4
                        class="mb-4 text-lg font-semibold text-gray-50 border-[#f8373f] border-2 bg-[#f8373f] p-2 rounded cursor-pointer hover:bg-gray-50 hover:text-[#f8373f] hover:border-[#f8373f] mr-4">
                        Add Task
                    </h4>
                </a>
            </div>
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                        <thead>
                            <tr
                                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b  bg-gray-50 ">
                                <th class="px-4 py-3">Client</th>
                                <th class="px-4 py-3">Sites</th>
                                <th class="px-4 py-3">Work Order</th>
                                
                                <th class="px-4 py-3">Pricing</th>
                                <th class="px-4 py-3">Address</th>
                                <th class="px-4 py-3">Suburb</th>
                                <th class="px-4 py-3">Comments</th>
                                <th class="px-4 py-3">Site Contact</th>
                                <th class="px-4 py-3">Assigned To</th>
                                <th class="px-4 py-3">Completed By</th>
                                <th class="px-4 py-3">Complition Date</th>
                                <th class="px-4 py-3">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y ">
                            {% for task in results2 %}
            
                            <tr class="text-gray-700 ">
                                <td class="px-4 py-3">
                                    <div class="flex items-center text-sm">
                                        <div>
                                            <p class="font-semibold">{{task.site.client}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.site}}
                                </td>
                                <td class="px-4 py-3 text-xs">
                                    {{task.workorder}}
                                </td>
                                
                                <td class="px-4 py-3 text-sm">
                                    {{task.pricing}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.site.address}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.site.suburb}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.comments}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.site.site_contact}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {% for employee in task.assigned_to.all %}<ul><li class="list-none">{{employee.employee_name}}</li></ul{% endfor %}
                                    
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.completed_by}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{task.completion_date}}
                                </td>
                                <td class="px-4 py-3">
                                    <div class="flex items-center space-x-4 text-sm">
                                        <button
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-[#f8373f] rounded-lg  focus:outline-none focus:shadow-outline-gray"
                                            aria-label="Edit">
                                            <a href="{% url 'complaintsupdate' task.id %}">
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                                </path>
                                            </svg>
                                        </a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</main>
{% endblock content %}