



{% extends 'base.html' %}
{% block title %}Dnam | Sites{% endblock title %}

{% block content %}
<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 mx-auto ">
        <div>
            <a class=" mr-4 flex justify-center">
                <h4
                    class="mb-4 text-lg font-semibold text-gray-50 border-[#f8373f] border-2 bg-[#f8373f] p-2 rounded cursor-pointer hover:bg-gray-50 hover:text-[#f8373f] hover:border-[#f8373f] mr-4">
                    Search Results for <span class="text-info">"{{request.GET.keyword}}"</span>
                </h4>
            </a>
        </div>
        <div id="workorder" class="content actives w-full mb-8 overflow-hidden rounded-lg shadow-xs ">
            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                        <thead>
                            <tr
                                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b  bg-gray-50 ">
                                <th class="px-4 py-3">Client</th>
                                <th class="px-4 py-3">Site Name</th>
                                <th class="px-4 py-3">site Title</th>
                                <th class="px-4 py-3">address</th>
                                <th class="px-4 py-3">Suburb</th>
                                <th class="px-4 py-3">Postcode</th>
                                <th class="px-4 py-3">Site Contact</th>
                                <th class="px-4 py-3">Site Attributes</th>
                                <th class="px-4 py-3">Service</th>
                                <th class="px-4 py-3">Clean Schedule</th>
                                <th class="px-4 py-3">Clean Area</th>
                                <th class="px-4 py-3">Clean Task Enable</th>
                                <th class="px-4 py-3">Cleaner</th>
                                <th class="px-4 py-3">Startdate</th>
                                <th class="px-4 py-3">Extra Details</th>
                                <th class="px-4 py-3">Action</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y ">
                            {% for site in page_obj %}
                            {% if site.remove == False %}
                            <tr class="text-gray-700 ">
                                <td class="px-4 py-3">
                                    <div class="flex items-center text-sm">
                                        <div>
                                            <p class="font-semibold">{{site.client}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <a href="#">{{site.site_name}}</a>
                                </td>
                                <td class="px-4 py-3 text-xs">
                                    {{site.site_title}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.address}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.suburb}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.postcode}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.site_contact}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.site_attribute}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.service}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <a href="#">{{site.clean_schedule}}</a>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.clean_area}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.clean_task_enable}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {% for employee in site.cleaner.all %}<ul><li class="list-none">{{employee.employee_name}}</li></ul>{% endfor %}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.startdate}}
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    {{site.extra_detail}}
                                </td>
                                <td class="px-4 py-3">
                                    <div class="flex items-center space-x-4 text-sm">
                                        <button
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg  focus:outline-none focus:shadow-outline-gray"
                                            aria-label="Edit">
                                            <a href="#">
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                                </path>
                                            </svg>
                                        </a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div
                class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t  bg-gray-50 sm:grid-cols-9 ">
                <span class="current flex items-center col-span-3">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                <span class="col-span-2"></span>
                <!-- Pagination -->
                <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                    <nav aria-label="Table navigation">
                        <ul class="inline-flex items-center">
                            <li>
                                <button
                                    class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                                    aria-label="Previous">
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path
                                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                            clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </li>
                            {% if page_obj.has_previous %}

                            <li>
                                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                    <a href="?page=1">&laquo; First</a>
                                </button>
                            </li>
                            <li>
                                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number
                                        }}</a>
                                </button>
                            </li>

                            {% endif %}
                            <button
                                class="px-3 py-1 text-white transition-colors duration-150 bg-[#f8373f] border border-r-0 border-[#f8373f] rounded-md focus:outline-none focus:shadow-outline-purple">
                                {{ page_obj.number }}
                            </button>

                            {% if page_obj.has_next %}
                            <li>
                                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                    <a href="?keyword=?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                </button>
                            </li>
                            <li>
                                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                    <a href="?keyword=?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                </button>
                            </li>

                            {% endif %}
                            <li>
                                <button
                                    class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                                    aria-label="Next">
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                        <path
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </span>
            </div>
            </div>
        </div>

    </div>
</main>
{% endblock content %}
