
{% extends 'base.html' %}
{% block testimonial-active %}
<span
                class="absolute inset-y-0 left-0 w-1 bg-[#f8373f] rounded-tr-lg rounded-br-lg"
                aria-hidden="true"></span>
{% endblock testimonial-active %}
{% load static %}
{% block content %}
<div class="w-10/12 md:w-7/12 lg:6/12 mx-auto relative py-20">
    <div  class="flex justify-center text-gray-600 text-2xl tracking-tight font-Roboto leading-10 font-bold  sm:text-5xl sm:leading-none md:text-6xl">
        <span class="border-b-4 border-[#f8373f]">Testimonials</span>
        
    </div>
    <span class="border-b-4 border-[#f8373f]"><a href="{% url 'addtestimonial' %}">Add New</a></span>
    <div class="border-l-2 mt-10" >
    {% for test in testimonial %}
    <a href="{% url 'edittestimonial' test.id %}">
      <div data-aos="fade-left"
       class="transform border-2 border-[#f8373f] transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-gray-50 text-gray-600  rounded mb-2 flex-col md:flex-row space-y-4 md:space-y-0">
        <span class="border-b-4 border-[#f8373f]">{{test.company_name}}</span>
        <div class="w-5 h-5 bg-[#f8373f] absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>
        <div class="w-10 h-1 bg-[#f8373f] absolute -left-10 z-0"></div>
        <div class="h-20 w-20">
            <img src="{{test.image.url}}" alt="image"
                class="rounded-full object-cover h-full w-full shadow" />
        </div>
        <div class="flex-auto">
          <h1 class="text-xl font-bold">{{test.client_name}}</h1>
          <h3>{{test.description}}</h3>
        </div>
      </div>
      </a>
      <span class="border-b-4 mb-10 border-[#f8373f]"><a class="flex justify-end mb-10" href="{% url 'deletetestimonial' test.id %}">Delete</a></span>
      {% endfor %}
    </div>
</div>
{% endblock content %}