
{% extends 'base.html' %}
{% block testimonial-active %}
<span
                class="absolute inset-y-0 left-0 w-1 bg-[#f8373f] rounded-tr-lg rounded-br-lg"
                aria-hidden="true"></span>
{% endblock testimonial-active %}
{% load static %}
{% block content %}
<div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">
        <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <div class="w-full lg:w-1/2 bg-white p-5 rounded lg:rounded-l-none">
                <div class="px-8 mb-4 text-center">
                    <h3 class="pt-4 mb-2 text-2xl text-gray-600">Edit Testimonial</h3>

                </div>
                <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="block mb-2 mt-2 text-sm  text-gray-600" for="client_name">
                            Client Name
                        </label>
                        <input
                            class="w-full px-3 py-2 text-sm leading-tight text-gray-600 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            id="client_name"
                            type="name"
                            name="client_name"
                            value="{{testimonial.client_name}}"
                        />
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 mt-2 text-sm  text-gray-600" for="company_name">
                            Company Name
                        </label>
                        <input
                            class="w-full px-3 py-2 text-sm leading-tight text-gray-600 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            id="company_name"
                            type="text"
                            name="company_name"
                            value="{{testimonial.company_name}}"
                        />
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 mt-2 text-sm  text-gray-600" for="description">
                            Description
                        </label>
                        <input cols="30" rows="10"
                            class="w-full px-3 py-2 text-sm leading-tight text-gray-600 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            id="description"
                            type="text"
                            name="description"
                            value="{{testimonial.description}}"
                        />
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 mt-2 text-sm  text-gray-600" for="image">
                            Image

                        </label>
                        <label class="block mb-2 mt-2 text-sm  text-gray-600" for="image">
                        Currently:
                        {{testimonial.image.url}}
                        </label>
                        <input
                            class="w-full px-3 py-2 text-sm leading-tight text-gray-600 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                            type="file"
                            name="image"
                            accept="image/*"
                            id="id_image"
                        />
                    </div>
                    <div class="mb-6 text-center">
                        {% comment %} <button
                            class="w-full px-4 py-2  text-black border-red-400 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline"
                            type="submit"
                        >
                            Change
                        </button> {% endcomment %}
                        <input type ="submit" value = "update">
                    </div>
                    <hr class="mb-6 border-t" />
            
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}