{% extends 'base.html' %}
{% block invoice-active %}
<span
                class="absolute inset-y-0 left-0 w-1 bg-[#f8373f] rounded-tr-lg rounded-br-lg"
                aria-hidden="true"
              ></span>
{% endblock invoice-active %}
{% block search-content %}
<div class="flex justify-start flex-1 lg:mr-32">
  <div class="relative w-full  max-w-xl mr-6 focus-within:text-purple-500">
    <div class="absolute inset-y-0 flex items-center pl-2">
      <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <form
    class="flex flex-row"
      action="{% url 'search_invoice_in' %}"
      method="GET"
    >
    <input
      class="w-full pl-8 p-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md   focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
      type="text" name="keyword" placeholder="Search" aria-label="Search" />
      <button class="btn btn-danger my-2 my-sm-0" type="submit">
        Search
      </button>
  </form>
  </div>
</div>

{% endblock search-content %}
{% block content %}
<main class="h-full overflow-y-auto ">
<div class="w-full overflow-hidden rounded-lg shadow-xs mt-20">
         <div>
  <a href="{% url 'addinvoicein' %}" class=" mr-4 flex justify-end">
    <h4
        class="mb-4 text-lg font-semibold text-gray-50 border-[#f8373f] border-2 bg-[#f8373f] p-2 rounded cursor-pointer hover:bg-gray-50 hover:text-[#f8373f] hover:border-[#f8373f] mr-4">
        Add InvoiceIn
    </h4>
</a>
</div>
 
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-900 uppercase border-b bg-gray-200 "
        >
          <th class="px-4 py-3">Invoice Title</th>
          <th class="px-4 py-3">File Type</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody
        class="bg-gray-100 divide-y"
      >
      {% for invoice in page_obj %}
      {% if invoice.delete == False %}

      
      
        <tr class="text-gray-800">
          
          <td class="px-4 py-3">
            <a href="{{invoice.in_image.url}}">
            <div class="flex items-center text-sm">
              <div>
                <p class="font-semibold">{{invoice.name}}</p>
              </div>
            </div>
            </a>
          </td>
          <td class="px-4 py-3 text-sm">
              <span
              class="px-4 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full "
            >
              {{invoice.invoice_type}}
            </span>
          </td>
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">
              <a href="{% url 'editinvoicein' invoice.id %}"><button
                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-red-600 rounded-lg focus:outline-none focus:shadow-outline-yellow"
                aria-label="Edit"
              >
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                  ></path>
                </svg>
              </button>
            </a>
            </div>
          </td>
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">
              <a href="{% url 'deleteinvoicein' invoice.id %}"><button
                class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-red-600 rounded-lg focus:outline-none focus:shadow-outline-yellow"
                aria-label="Edit"
              >
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M284.2 0C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2zM31.1 128H416L394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128zM207 199L127 279C117.7 288.4 117.7 303.6 127 312.1C136.4 322.3 151.6 322.3 160.1 312.1L199.1 273.9V408C199.1 421.3 210.7 432 223.1 432C237.3 432 248 421.3 248 408V273.9L287 312.1C296.4 322.3 311.6 322.3 320.1 312.1C330.3 303.6 330.3 288.4 320.1 279L240.1 199C236.5 194.5 230.4 191.1 223.1 191.1C217.6 191.1 211.5 194.5 207 199V199z"/></svg>
              </button></a>
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <div
                    class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t  bg-gray-50 sm:grid-cols-9 ">
                    <span class="current flex items-center col-span-3">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    <span class="col-span-2"></span>
                    <!-- Pagination -->
                    <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                        <nav aria-label="Table navigation">
                            <ul class="inline-flex items-center">
                                <li>
                                    <button
                                        class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                                        aria-label="Previous">
                                        <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                            <path
                                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                clip-rule="evenodd" fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </li>
    {% if page_obj.has_previous %}
                                
    <li>
        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
            <a href="?page=1">&laquo; First</a>
        </button>
    </li>
    <li>
        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </button>
    </li>

    {% endif %}
    <button
            class="px-3 py-1 text-white transition-colors duration-150 bg-[#f8373f] border border-r-0 border-[#f8373f] rounded-md focus:outline-none focus:shadow-outline-purple">
             {{ page_obj.number }}
    </button>
   
    {% if page_obj.has_next %}
    <li>
        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </button>
    </li>
    <li>
        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        </button>
    </li>
    
    {% endif %}
    <li>
      <button
          class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
          aria-label="Next">
          <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
              <path
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd" fill-rule="evenodd"></path>
          </svg>
      </button>
  </li>
  </ul>
</nav>
</span>
</div>
  </div>
</div>
</main>

{% endblock content %}